-##refer{style: "background-image: #{Setting.additional_image.present? ? 'url(' + asset_url(Setting.additional_image.url) + ');' : 'auto'}"}
#refer{style: "padding-top:50px; margin-bottom:50px; background-size:cover; border-bottom:none; height:425px; background-image: url(http://earlyaccess.traintogether.co/system/settings/cover_images/000/000/001/original/train-together-personal-training-software.png?1473311664)"}
  .col-md-5.col-md-offset-1.col-sm-6.hidden-xs.refer-left
    .cover{style: "margin-left:auto; margin-right:auto; text-align:center"}
      %h1.cover-heading{style: "left:10px; top:145px; position:absolute; width:400px; text-align:center;"} KNOWING IS CARING
      %h4{style: "left:10px; top:200px; position:absolute; width:400px; text-align:center;"} YOUR FAMILY MATTERS THE MOST

  .col-md-5.col-sm-6.col-xs-12
    #copy
      %h3 Don't leave your friends behind
      %h1 Invite friends & Earn product

    %p{style: "color:#373b44; margin-bottom: 20px;"} Share your unique link via emails or social networks and earn prizes for each friend who signs up.
    %input.form-control{value: "#{@user.referral_url(root_url)}"}

    = render partial: "social_sharing"


%aside.text-center
  %h4
    %strong HERE'S HOW IT WORKS:

- if Prize.all.any?
  %section#prizes
    .progressbar{style: "width: #{@user.progress * 100}%"}
      .progress-box
    = render partial: "prizes/prize_item", collection: Prize.all.order("number_of_referrals asc"), as: :prize

%aside.text-center
  %h4
    %strong{style: "color:#1ABC9C;"}= pluralize(@user.number_of_referrals, 'friend')
    %span have joined so far.

%footer#footer
  %p All rights reserved
  = link_to "Privacy Policy", privacy_path, remote: true